<html> 
<head>
<link rel="stylesheet" href="../css/style.css">
<script src="../js/backend.js"></script>
</head>
<body>
    
<div class="main">
    <div class="image">
        <img src="../images/side_img2.svg" alt="">
    </div>
    <form class="form" id="login">
        <fieldset>
            <legend>
                <span class="user-icon">
                    <img src="../images/user.png" class="user-img" alt="">
                </span>
            </legend>

            <div class="email">
                <span>Email</span>
                <input type="text" name="email2">
            </div>


            <div class="password">
                <span class="password-label">
                    <span>Password</span> 
                    <a href="#">Forgot Password?</a>
                </span>
                <input type="password" name="password3">
            </div>

            <span class="remember-me">
                <span class="rem">Remember Me</span>
                <span><input type="checkbox"></span>
            </span>

            <div class="sign-up1">
            <button type="button" class="sign-up" onclick="signIn();return false">Sign In</button>
        </div>

        <div class="existing">
            <span class="already">Don't have an account? <a href="../index.html">Sign Up</a></span>
        </div>
        </fieldset>
    </form>
</div>

</body>
</html>